.para3
    {
        background-color:pink;
        color:white;
        padding: 50px;
    }

#para4
    {
        background-color:orange;
        color:white;
        padding: 50px;
    }